{% extends "header.html" %} {% block body %}
<br />
<section style="margin-bottom: 0px; padding-bottom: 0px">
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide" />
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide" />
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide" />
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
</section>

<!-- Populer article -->
<section class="blog-area section">
    <div class="container">
        <h5 class="section-title h1">En Popüler Yazılar</h5>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <div class="blog-image">
                            <img src="{{ url_for('static', filename='images/category-5-400x250.jpg') }}" alt="Blog Image" />
                        </div>

                        <a class="avatar" href="#"
                            ><img src="{{ url_for('static', filename='images/icons8-team-355979.jpg') }}" alt="Profile Image"
                        /></a>

                        <div class="blog-info">
                            <h4 class="title">
                                <a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</b></a>
                            </h4>

                            <ul class="post-footer">
                                <li>
                                    <a href="#"><i class="ion-heart"></i>57</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-chatbubble"></i>6</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-eye"></i>138</a>
                                </li>
                            </ul>
                        </div>
                        <!-- blog-info -->
                    </div>
                    <!-- single-post -->
                </div>
                <!-- card -->
            </div>
            <!-- col-lg-4 col-md-6 -->

            <div class="col-lg-3 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <div class="blog-image">
                            <img src="{{ url_for('static', filename='images/category-5-400x250.jpg') }}" alt="Blog Image" />
                        </div>

                        <a class="avatar" href="#"
                            ><img src="{{ url_for('static', filename='images/icons8-team-355979.jpg') }}" alt="Profile Image"
                        /></a>

                        <div class="blog-info">
                            <h4 class="title">
                                <a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</b></a>
                            </h4>

                            <ul class="post-footer">
                                <li>
                                    <a href="#"><i class="ion-heart"></i>57</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-chatbubble"></i>6</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-eye"></i>138</a>
                                </li>
                            </ul>
                        </div>
                        <!-- blog-info -->
                    </div>
                    <!-- single-post -->
                </div>
                <!-- card -->
            </div>
            <!-- col-lg-4 col-md-6 -->

            <div class="col-lg-3 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <div class="blog-image">
                            <img src="{{ url_for('static', filename='images/category-5-400x250.jpg') }}" alt="Blog Image" />
                        </div>

                        <a class="avatar" href="#"
                            ><img src="{{ url_for('static', filename='images/icons8-team-355979.jpg') }}" alt="Profile Image"
                        /></a>

                        <h4 class="title">
                            <a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</b></a>
                        </h4>

                        <ul class="post-footer">
                            <li>
                                <a href="#"><i class="ion-heart"></i>57</a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-chatbubble"></i>6</a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-eye"></i>138</a>
                            </li>
                        </ul>
                    </div>
                    <!-- single-post -->
                </div>
                <!-- card -->
            </div>
            <!-- col-lg-4 col-md-6 -->

            <div class="col-lg-3 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <div class="blog-image">
                            <img src="{{ url_for('static', filename='images/category-5-400x250.jpg') }}" alt="Blog Image" />
                        </div>

                        <a class="avatar" href="#"
                            ><img src="{{ url_for('static', filename='images/icons8-team-355979.jpg') }}" alt="Profile Image"
                        /></a>

                        <h4 class="title">
                            <a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</b></a>
                        </h4>

                        <ul class="post-footer">
                            <li>
                                <a href="#"><i class="ion-heart"></i>57</a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-chatbubble"></i>6</a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-eye"></i>138</a>
                            </li>
                        </ul>
                    </div>
                    <!-- single-post -->
                </div>
                <!-- card -->
            </div>
            <!-- col-lg-4 col-md-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- Populer article -->

<!-- Author -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">En Çok Okunan Yazarlar</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img
                                            class="img-fluid"
                                            style="margin-top: 20px"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                            alt="card image"
                                        />
                                    </p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="margin-top: 20px">Sunlimetech</h4>
                                    <p class="card-text">
                                        This is basic card with image on top, title, description and button.This is basic card with image on top,
                                        title, description and button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img
                                            class="img-fluid"
                                            style="margin-top: 20px"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
                                            alt="card image"
                                        />
                                    </p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="margin-top: 20px">Sunlimetech</h4>
                                    <p class="card-text">
                                        This is basic card with image on top, title, description and button.This is basic card with image on top,
                                        title, description and button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img
                                            class="img-fluid"
                                            style="margin-top: 20px"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                                            alt="card image"
                                        />
                                    </p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="margin-top: 20px">Sunlimetech</h4>
                                    <p class="card-text">
                                        This is basic card with image on top, title, description and button.This is basic card with image on top,
                                        title, description and button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Author -->

<!-- Istatistic -->
<section>
    <div class="container">
        <h5 class="section-title h1">İstatİstİklerle article stack</h5>

        <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter">
                    <i class="fa fa-users fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text">Yazarlarımız</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter">
                    <i class="fa fa-eye fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count-text">Görüntülemeler</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter">
                    <i class="fa fa-book fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
                    <p class="count-text">Yazılar</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter">
                    <i class="fa fa-heart fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                    <p class="count-text">Okurlarımızın Beğenileri</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Istatistic -->

{% endblock body %}
